<%= simple_form_for @task, defaults: { input_html: { class: 'field' } } do |f| %>
  <%= f.input :title, label: "Title", placeholder: "Electrician" %>
  <p><%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category"} %></p>
  <%= f.input :description, placeholder: "Let us about your services and what makes you the best .... you MAY add you contact info if you like" %>
  <%= f.input :company,required: false, label: "Your Company name (optional)" %>
  <%= f.input :location, label: "Where are you located?", placeholder: "Tema" %>
  <%= f.input :phone_number, label: "Whatsapp/Telegram/Signal ... Number" %>
  <%= f.input :url,  label: "Facebook Handle with a '.' between names", placeholder: "kofi.menu" %>
  <%= f.input :Ig_url, required: false, label: "Instagram Handle with  no spaces", placeholder: "kofimenu" %>
  <%= f.input :Tw_url, required: false, label: "Twitter Handle with no spcaes", placeholder: "kofimenu" %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class:"btn btn-full" %>
<% end %>
