<%= simple_form_for @task, defaults: { input_html: { class: 'field' } } do |f| %>
  <%= f.input :title, label: "Service title" %>
  <p><%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category"} %></p>
  <%= f.input :description, label: "Service Description" %>
  <%= f.input :company, label: "Your Company" %>
  <%= f.input :location, label: "Where are you located", placeholder: "Tema" %>
  <%= f.input :url,  label: "Facebook Page", placeholder: "kofi.menu" %>
  <%= f.input :Ig_url, required: false, label: "Instagram Handle", placeholder: "kofi.menu" %>
  <%= f.input :Tw_url, required: false, label: "Twitter Handle", placeholder: "kofi.menu" %>
  <%= f.button :submit %>
<% end %>
