<%= render 'shared/navbar' %>
<section class="jumbotron text-center">
    <div class="container">
      <h1> <span>Find all the services you need</h1> </span>
      <p class="lead text-muted">Search for a service by name or by location</p>
      <p>
        <%= form_tag tasks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: ""
        %>
      <%= submit_tag "Search", class: "mb-2 mt-2 btn-search"%>
      <% end %>
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <%= render 'shared/categoryList' %>
      </div>
    </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <% num = 0 %>
          <% @tasks.each do |task| %>
            <%= link_to (task) do  %>
              <div class="col-md-4 ">
                <div class="card mb-4 p-1 shadow-sm">
                  <div>
                    <% if task.photo.nil? %>
                      <%= image_tag 'boy.png', class:"bd-placeholder-img card-img-top " %>
                    <% else %>
                    <div class="catCard">
                      <%= cl_image_tag task.photo.key, style: 'width:100%;'%>
                    </div>
                    <% end %>
                    <div class="card-body">
                      <h3><%= num += 1 %>. <%= link_to task.title.capitalize, task_path(task)%> - <small><%= task.location %></small></h3>
                      <p><small><%= time_ago_in_words(task.created_at) %> ago | <%= link_to task.get_upvotes.size, like_task_path(task), method: :put, remote: :true %> Likes | <%=task.comments.count %> comments| By: <%= task.user.user_name %></small></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
    </div>
  </div>
</div>
