<%= render 'shared/categoryList' %>
<div class="container">
  <div class="row justify-content-center mt-4">
  <div class="col-md-12">
    <div class="intro">
      <h2> Find all the services for you need</h2>
      <%= form_tag tasks_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by service or location"
        %>
      <%= submit_tag "Search", class: "mb-2 mt-2 btn-search"%>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-4 mb-4 d-md-none col-lg-5 col-xs-2 btn-center sticky-top">
  <%= link_to 'Add a Service', new_task_path, class:"btn-small"  %>
</div>

<div class="row mt-4 justify-content-center">
  <div class="col-md-5 col-lg-5 ">
      <% num = 0 %>
      <% @tasks.each do |task| %>
    <div class="index-content-card">
        <% num += 1 %>
        <% if task.photo.attached? %>
            <%= cl_image_tag task.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
          <% end %>
          <div>
            <p><small><%= time_ago_in_words(task.created_at) %> ago | <%= link_to task.get_upvotes.size, like_task_path(task), method: :put, remote: :true %> Likes | By: <%= task.user.first_name %></small></p>
            <p><%= num %> . <%= link_to task.title.capitalize, task_path(task)%> - <small><%= task.location %></small></p>

          </div>
    </div>
      <% end %>
</div>


  <div class="col-md-5 ">
    <div class="ontop">
      <div class="jumbotron">
        <%= image_tag 'esinam.jpg' %>
        <hr class="my-4">
        <!-- <h1 class="display-4">Add | Look for a service</h1> -->
        <div class="lead"> - Search for over 100+ reliable services to find what you want </div>
        <div class="lead"> - Do you provide a reliable service? Add you skills here for free</div>
        <hr class="my-4">
        <div><%= link_to 'Add a Service', new_task_path, class:"btn btn-full btn-lg "  %></div>
      </div>
    </div>
  </div>
</div>


</div>
