<%= render 'shared/navbar' %>

<main class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="serv-image">
        <% if @task.photo.attached? %>
            <%= cl_image_tag @task.photo.key %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", alt: "avatar-bordered" %>
        <% end %>
        </div>
    </div>
    <div class="col-md-4 p-3 mb-2 text-white rounded-lg" style="background-color: #FF3CAC;
    background-image: linear-gradient(202deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    ">
      <div class="product-description">
        <span>Serv Gh</span>
        <h1><%= @task.title %></h1>
        <p><%= @task.description %></p>
        <hr>
          <p>
              Posted by <%= @task.user.first_name %>
            </p>
          <%= time_ago_in_words(@task.created_at) %> ago
      </div>
        <div class="product-configuration">
          <div class="product-color">
            <span>Whatsapp Number</span>
            <p><i class="fab fa-whatsapp-square fa-2x" id="whatsapp-btn"></i><p><%= @task.phone_number %></p></p>
          </div>
          <!-- Product Color -->
          <div class="product-color">
            <span>Social Media</span>
            <div class="color-choose">
              <div>
                <div class="user-contact">
                <% if @task.url.blank? && @task.Ig_url.blank? && @task.Tw_url.blank?  %>
                  <p><em>Please edit your posting and add a social media handle</em></p>
                <% elsif @task.url.blank? && @task.Ig_url.blank? %>
                  <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                  </a>
                <% elsif @task.url.blank? && @task.Tw_url.blank? %>
                  <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                  </a>
                <% elsif @task.Ig_url.blank? && @task.Tw_url.blank? %>
                  <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
                      <i class="facebook icon"></i>
                    </a>
                <% elsif @task.url.blank? %>
                  <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                  </a>
                  <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                  </a>
                  <% elsif @task.Tw_url.blank? %>
                    <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
                      <i class="facebook icon"></i>
                    </a>
                  <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                  </a>
                  <% elsif @task.Ig_url.blank? %>
                    <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
                      <i class="facebook icon"></i>
                    </a>
                    <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
                      <i class="twitter icon"></i>
                    </a>
                  <% else %>
                    <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
                      <i class="facebook icon"></i>
                    </a>
                    <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
                      <i class="twitter icon"></i>
                    </a>
                    <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="cable-config">
            <div class="cable-choose">
              <div class=" ui labeled button mt-4 mb-4" tabindex="0">
                <div class="ui button">
                  <%= link_to like_task_path(@task), method: :put, remote: :true do %>
                    <i class="heart icon"></i> Like
                </div>
                <a class="ui basic label">
                  <%= @task.get_upvotes.size %>
                </a>
                  <% end %>
              </div>
            </div>
            <a href="mailto: <%=@task.user.email%>?subject=Enquiry - Content Manager"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Email this service provider</a>
          </div>
        </div>
      </div>
    </div>
  <div class="row justify-content-end">
    <div class="footer-actions">
      <% if user_signed_in? %>
        <% if @task.user_id == current_user.id %>
          <%= link_to "Edit", edit_task_path(@task), class:"positive ui button" %>
          <%= link_to "Back", tasks_path, class:"ui positive button" %>
          <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }, class:"ui red button" %>
        <% else %>
          <%= link_to "Back", tasks_path, class:"ui positive button" %>
        <% end %>
      <% else %>
        <%= link_to "Back", tasks_path, class:"ui positive button" %>
      <% end %>
    </div>
  </div>
  <h3>Comments:</h3>
  <p> <%= render @task.comments %></p>

  <h3>Add your comments</h3>
  <%= render 'comments/form' %>
</main>























