<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= @task.title.upcase %></h5>
    <p class="card-text"><%= @task.description %></p>
    <p class="card-text"><%= @task.company %></p>
    <p class="card-text"><%= time_ago_in_words(@task.created_at) %></p>
    <button class="positive ui button">Call us on ...</button>
  </div>
</div>

<div class="ui labeled button" tabindex="0">
  <div class="ui button">
    <%= link_to like_task_path(@task), method: :put, remote: :true do %>
    <i class="heart icon"></i> Like
    </div>
    <a class="ui basic label">
      <%= @task.get_upvotes.size %>
    </a>
  <% end %>
</div>

<a href='<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
  <i class="facebook icon"></i>
</a>
<button class="ui circular twitter icon button">
  <i class="twitter icon"></i>
</button>
<button class="ui circular linkedin icon button">
  <i class="linkedin icon"></i>
</button>
<button class="ui circular google plus icon button">
  <i class="google plus icon"></i>
</button>
