<%= render 'shared/navbar' %>
<div class="container">
  <div class="ui message mt-4">
  <div class="card-body">
    <div class="header"><%= @task.title.upcase %></div>
    <div class="meta">Posted <%= time_ago_in_words(@task.created_at) %> ago</div>
    <div> <em>Submitted by: </em> <%= @task.user.email %></div>
    <hr class="my-4">
    <p class="card-text"><%= @task.description %></p>
    <p class="card-text">Business name : <%= @task.company %></p>
    <hr class="my-4">
    <button class="positive ui button mb-3">Contact us on ...</button>

    <% if @task.url.blank? && @task.Ig_url.blank? && @task.Tw_url.blank?  %>
      <p><strong>Please edit your posting and add a social media handle</strong></p>
    <% elsif @task.url.blank? && @task.Ig_url.blank? %>
      <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </a>
    <% elsif @task.url.blank? && @task.Tw_url.blank? %>
      <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
        <i class="instagram icon"></i>
      </a>
    <% elsif @task.Ig_url.blank? && @task.Tw_url.blank? %>
      <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </a>
    <% elsif @task.url.blank? %>
      <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
        <i class="twitter icon"></i>
      </a>
      <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
        <i class="instagram icon"></i>
      </a>
      <% elsif @task.Tw_url.blank? %>
        <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </a>
      <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
        <i class="instagram icon"></i>
      </a>
      <% elsif @task.Ig_url.blank? %>
        <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </a>
        <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </a>
      <% else %>
        <a href='http://www.facebook.com/<%= @task.url %>' target="_blank" class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </a>
        <a href='http://www.twitter.com/<%= @task.Tw_url %>' target="_blank" class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </a>
        <a href='http://www.instagram.com/<%= @task.Ig_url %>' target="_blank" class="ui circular instagram icon button">
        <i class="instagram icon"></i>
      </a>
    <% end %>
  </div>
</div>

<div class=" ui labeled button mt-4" tabindex="0">
  <div class="ui button">
    <%= link_to like_task_path(@task), method: :put, remote: :true do %>
    <i class="heart icon"></i> Like
    </div>
    <a class="ui basic label">
      <%= @task.get_upvotes.size %>
    </a>
  <% end %>
</div>




<div class="mt-4">
    <% if @task.user_id == current_user.id %>
      <%= link_to "Edit", edit_task_path(@task), class:"ui primary basic button" %>
      <%= link_to "Back", tasks_path, class:"ui olive button" %>
      <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }, class:"ui red button" %>
    <% else %>
      <%= link_to "Back", tasks_path, class:"ui olive button" %>
    <% end %>
</div>
</div>

