<%= render 'shared/navbar' %>
<div class="banner" >
  <div class="container">
    <h1><h1>Looking for a service?</h1>
    <p>Find the services you need within minutes... </p>
    <%= link_to 'Get Started', tasks_path, class:'btn btn-full'  %>
    <%= link_to 'Sign Up Now', new_user_registration_path, class:'btn btn-signup'  %>



  </div>
</div>


  <div class="how-it-works-title">
    <div class="row justify-content-center">
      <div class="col-md-6">
      <h2>Find the Service you need in minutes</h2>
      <p class="long-copy">Hello, we're Serv GH, your new premium platform to help you find whatever services you may require. We know it's hard to find reliable services and we understand the risks in hiring people without knowing if they can do the work. So let us help you, let us do it together and as they say if you want to go far ... go together!</p>
      </div>
    </div>
  </div>

  <div class="section-features">
    <div class="row features">
      <div class="col-md-4 feature-box">
        <i class="far fa-smile-wink fa-5x"></i>
        <h3>Easy to use</h3>
        <p class="long-copy"> We offer an easy to use platform with thousands of listed services. All you have to do is search for the service you require, select a provider based on likes and user reviews and lastly have a look on their social media page for thier details </p>
      </div>
      <div class="col-md-4 feature-box">
        <i class="fas fa-stopwatch-20 fa-5x"></i>
        <h3>Convinient</h3>
        <p class="long-copy"> No need to call a friend or a family member to ask if they know someone who can help you, you can search and find within minutes </p>
      </div>
      <div class="col-md-4 feature-box">
        <i class="fas fa-globe-africa fa-5x"></i>
        <h3>Global reach</h3>
        <p class="long-copy"> It doesn't matter where you are in the world, you can order a service in Ghana with just a few clicks</p>
      </div>
    </div>
  </div>

    <div class="list-of-services">
      <h2>Select from multiple services</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 services-list">
          Food/Catering Services
      </div>
      <div class="col-md-3 services-list">
          Handyman Services
      </div>
      <div class="col-md-3 services-list">
          Makeup/Beauty
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 services-list">
          Photo/Video Services
      </div>
      <div class="col-md-3 services-list">
          Delivery Services
      </div>
      <div class="col-md-3 services-list">
          And many more...
      </div>
    </div>
  </div>

  <div class="how-it-works-title">
    <h2>How it works &mdash; As Simple as 1, 2, 3</h2>
  </div>
  <div class="section-how-it-works">
    <div class="row">
      <div class="col-md-6 steps-box">
        <%= cl_image_tag("vphx6wy7iufmja7tm2pt") %>
      </div>
      <div class="col-md-6 steps-box">
        <div class="works-step clearfix">
          <div>1</div>
          <p>Search for the service you need</p>
        </div>
        <div class="works-step clearfix">
          <div>2</div>
          <p>Select a service provider based on customer reviews and likes</p>
        </div>
        <div class="works-step clearfix">
          <div>3</div>
          <p>Contact the service provider via a social media link</p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
      <h2>Our customers can't live without us</h2>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <blockquote>
          This is a real life server. I can know have some confidence in hiring a stranger for a service.
          <cite><%= image_tag 'boy.png' %> Alberto Duncan</cite>
        </blockquote>
      </div>
      <div class="col-md-3">
        <blockquote>
          At least I was reluctant to try it and them it's free so why not and now I can confidently say I will recommend serv Gh.
          <cite><%= cl_image_tag("v9sspghlinxbhaihlvx2") %> Elizabeth Mensah</cite>
        </blockquote>
      </div>
      <div class="col-md-3">
        <blockquote>
          Nice, easy and simple to use. I trust it. And I will recommend it to everyone. And best of all, it is proudly Ghanaian.
          <cite><%= image_tag 'girl.png' %> Kofi Jackson</cite>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="section-plans">
    <h2>Join us today</h2>
    <p class="long-copy">Let your good, professional work speak for itself and let your customers find you much easier. </p>
  </div>


