<!DOCTYPE html>
<html>
  <head>
    <title>BuDi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Le Wagon - The French innovative coding school">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
    <meta property="og:site_name" content="Le Wagon"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
      <%= render 'shared/navbar'  %>
    <div class="container">
      <nav class="navbar sticky-top navbar-light bg-light">
      <%= link_to 'All Services', tasks_path %> |
        <% Category.all.each do |category| %>
        <%= link_to category.name, tasks_path(category: category.name) %> |
        <% end %>
      </nav>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
