<!DOCTYPE html>
<html>
  <head>
    <title>BuDi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="BuDi - Find services your can trust">
    <meta property="og:image" content="robot3.jpg">
    <meta property="og:description" content="BuDi provides a place to find services based on likes. Find the best service for you. Try it today.">
    <meta property="og:site_name" content="BuDi"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/976522cd90.js" crossorigin="anonymous"></script>
    <link rel="preload" as="font" href="" crossorigin="anonymous">
  </head>

  <body>

      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>
